<!-- order_items.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Order Items</title>
</head>
<body>
    <h1>Order Items</h1>
    <table border="1">
        <tr>
            <th>Order ID</th>
            <th>Item ID</th>
            <th>Product ID</th>
            <th>Quantity</th>
            <th>List Price</th>
            <th>Discount</th>
        </tr>
        {% for item in order_items %}
        <tr>
            <td>{{ item.ORDER_ID }}</td>
            <td>{{ item.ITEM_ID }}</td>
            <td>{{ item.PRODUCT_ID }}</td>
            <td>{{ item.QUANTITY }}</td>
            <td>{{ item.LIST_PRICE }}</td>
            <td>{{ item.DISCOUNT }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
