<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Details</title>
</head>
<body>
    <h2>{% if store_id and product_id %}Edit{% else %}Add{% endif %} Stock</h2>
    
    <form method="post" action="{% url 'add_stock' %}">
        {% csrf_token %}
        <input type="hidden" id="store_id" name="store_id" value="{% if stock %}{{ stock.STORE_ID }}{% endif %}">
        <input type="hidden" id="product_id" name="product_id" value="{% if stock %}{{ stock.PRODUCT_ID }}{% endif %}">
        <div class="input-field">
            <label for="store">Store:</label>
            <select id="store" name="store" required style="width: 100%;">
                <option value="" >Select</option>
                {% for store in stores %}
                    <option value="{{ store.STORE_ID }}"  {% if stock and store.STORE_ID == stock.STORE_ID %}selected{% endif %}>{{ store.STORE_NAME }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div class="input-field">
            <label for="product">Product:</label>
            <select id="product" name="product" required style="width: 100%;">
                <option value="" >Select</option>
                {% for product in products %}
                    <option value="{{ product.PRODUCT_ID }}"  {% if product and product.PRODUCT_ID == stock.PRODUCT_ID %}selected{% endif %}>{{ product.PRODUCT_NAME }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div>
            <label for="quantity">Quantity:</label>
            <input type="text" name="quantity" id="quantity" required>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
