<!-- stores.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Stores</title>
</head>
<body>
    <h1>Stores</h1>
    <table border="1">
        <tr>
            <th>Store ID</th>
            <th>Store Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Zipcode</th>
        </tr>
        {% for store in stores %}
        <tr>
            <td>{{ store.STORE_ID }}</td>
            <td>{{ store.STORE_NAME }}</td>
            <td>{{ store.PHONE }}</td>
            <td>{{ store.EMAIL }}</td>
            <td>{{ store.STREET }}</td>
            <td>{{ store.CITY }}</td>
            <td>{{ store.STATE }}</td>
            <td>{{ store.ZIPCODE }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
